.root {
    -fx-background-color: lightblue;
}

.label{
	-fx-font-size: 16px;
	-fx-text-fill: #5a5a5a;
	-fx-font-weight: bold;
}

.button{
	-fx-background-color: #357ae8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-padding: 8 16 8 16;
    -fx-cursor: hand;
    -fx-font-size: 13px;
}
.button:hover {
    -fx-background-color: #60dedb;
}

.button:pressed {
    -fx-background-color: #2f64c9;

}
.text-field,
.password-field {
    -fx-background-color: #f3f7ff;
    -fx-border-color: #8ab6ff;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 13px;
}

